.my-purchased-products {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.selected-product-card, .purchased-product-card {
  max-height: 800px;
}

.purchased-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  gap: 10px;
}

.purchased-information {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 10px;
}